.container {
  display: flex;
  justify-content: center;
  padding: var(--space-4);
  position: relative;
}

.counts {
  position: absolute;
  padding: var(--space-2) 0;
  left: var(--space-4);
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  left: 0;
  right: 0;
  gap: var(--space-2);
}

.link {
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  color: var(--colors-black);
  cursor: pointer;
}
.link:hover {
  border-color: rgba(var(--colors-rbg-brand-dark), 0.9);
}
.link.selected {
  border-color: rgba(var(--colors-rbg-brand-dark), 0.8);
}
.link a {
  all: unset;
  text-decoration: none;
  color: var(--colors-black);
}

.clear {
  position: absolute;
  padding: var(--space-2) 0;
  right: var(--space-4);
}

.clear-completed,
.clear-completed:active {
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}
