.todo {
  position: relative;
  border-bottom: 1px solid var(--colors-gray-200);
}

.todo:last-child {
  border-bottom: none;
}

.edit {
  padding: var(--space-4) var(--space-4) var(--space-4) var(--space-14);
  border: none;
  font-size: var(--fontSizes-2xl);
  width: 100%;
}

.toggle {
  position: absolute;
  text-align: center;
  height: auto;
  left: var(--space-2);
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.completed {
  color: var(--colors-gray-300);
  text-decoration: line-through;
}

.destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: var(--space-10);
  height: var(--space-10);
  margin: auto 0;
  font-size: var(--fontSizes-3xl);
  color: var(--colors-brand-light);
  transition: color 0.2s ease-out;
}
.destroy:hover {
  color: var(--colors-brand-base);
}
.destroy:after {
  content: "×";
}
.todo:hover .destroy {
  display: block;
}

.error {
  position: absolute;
  bottom: var(--space-1);
  right: var(--space-1);
  color: var(--colors-brand-base);
}