.main {
  border-top: 1px solid var(--colors-gray-200);
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.new-todo {
  margin: 0;
  width: 100%;
  padding: var(--space-2);
  font-size: var(--fontSizes-2xl);
  padding: var(--space-4) var(--space-4) var(--space-4) var(--space-14);
  background: rgba(var(--colors-rgb-white), 0.003);
  box-shadow: var(--box-shadow-1);
  border: none;
}

.new-todo::-webkit-input-placeholder,
.new-todo::-moz-placeholder,
.new-todo::placeholder {
  font-style: italic;
  font-weight: var(--fontWeights-light);
  color: var(--colors-gray-900);
}

.toggle-all {
  position: absolute;
  top: var(--space-2);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: var(--fontSizes-xl);
  font-weight: var(--fontWeights-hairline);
  color: var(--colors-gray-200);
  padding: var(--space-3) var(--space-6);
  cursor: pointer;
}

.toggle-all.checked {
  color: var(--colors-gray-600);
}

.container {
  display: flex;
  justify-content: center;
  padding: var(--space-4);
  position: relative;
}

.counts {
  position: absolute;
  padding: var(--space-2) 0;
  left: var(--space-4);
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  left: 0;
  right: 0;
  gap: var(--space-2);
}

.link {
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  color: var(--colors-black);
  cursor: pointer;
}
.link:hover {
  border-color: rgba(var(--colors-rbg-brand-dark), 0.9);
}
.link.selected {
  border-color: rgba(var(--colors-rbg-brand-dark), 0.8);
}
.link a {
  all: unset;
  text-decoration: none;
  color: var(--colors-black);
}

.clear {
  position: absolute;
  padding: var(--space-2) 0;
  right: var(--space-4);
}

.clear-completed,
.clear-completed:active {
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}
.clear-completed:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
