.container {
  padding-top: var(--space-8);
}

.title {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: var(--fontSizes-8xl);
  font-weight: var(--fontWeights-hairline);
  color: rgba(var(--colors-rbg-brand-dark), 1);

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.content {
  position: relative;
  background: var(--colors-white);
  box-shadow: var(--box-shadow-2);
}

.signOutBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-4);
}

.signOut,
.signOut:active {
  text-decoration: none;
  cursor: pointer;
}
.signOut:hover {
  text-decoration: underline;
}
