.toggle-all {
  position: absolute;
  top: var(--space-2);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: var(--fontSizes-xl);
  font-weight: var(--fontWeights-hairline);
  color: var(--colors-gray-200);
  padding: var(--space-3) var(--space-6);
  cursor: pointer;
}

.toggle-all.checked {
  color: var(--colors-gray-600);
}
