.new-todo {
  margin: 0;
  width: 100%;
  padding: var(--space-2);  
  font-size: var(--fontSizes-2xl);
  padding: var(--space-4) var(--space-4) var(--space-4) var(--space-14);
  background: rgba(var(--colors-rgb-white), 0.003);
  box-shadow: var(--box-shadow-1);
  border: none;
}

.new-todo::-webkit-input-placeholder,
.new-todo::-moz-placeholder,
.new-todo::placeholder {
  font-style: italic;
  font-weight: var(--fontWeights-light);
  color: var(--colors-gray-900);
}
